.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}

.label {
    margin-top: 20px;
    padding-left: 30px;
}

.button {
    width: 150px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 2px;
    background-color: white;
}

.input1 {
    margin-left: 35px;
}

.input2 {
    margin-left: 18px;
}